<div class="row-fluid">
  <%= link_to raw('<i class="glyphicon glyphicon-plus"></i> New Comment'), new_comment_path, class: "btn btn-default" %>
</div>

<h1>Listing Comments</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Text</th>
      <th>Topic</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
        <td><%= comment.topic_id %></td>
        <td><%= comment.comment_id %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

