<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @comment.topic_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
