<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<%= link_to 'New post', new_post_path %>

<ul style="list-style-type:none">
  <% @posts.each_with_index do |post, i| %>
      <% if post.type == Post::TOPIC %>
          <li>
            <strong><%= post.number %>.</strong>
            [<%= post.get_type_name %>]
            <a href="/posts/<%= post.id %>"><%= post.created_at %></a> <%= post.text %>
          </li>
      <% end %>
  <% end %>
</ul>

<br>
