<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>

<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<ul style="list-style-type:none">
  <li>
    <strong><%= @post.number %>.</strong> [<%= @post.get_type_name %>]
    <a href="/posts/<%= @post.id %>"><%= @post.created_at %></a> <%= @post.text %>
    <a href="/posts/<%= @post.id %>/comment">[Reply]</a>
    <% unless @post.comments.empty? %>
        <%= raw show_comments_recursive(@post.number, @post.comments) %>
    <% end %>
  </li>

</ul>


<%= link_to 'Back', posts_path %>